@import url(reset.css);
@import url(fonts.css);

body {
	max-width: 1440px;
	height: auto;
	background: #eaeaea;
}
/* LOGO MAIN */
.logo {
	max-width: 382px;
	margin: 250px auto 119px;
}
/*HEADER*/
header {
	max-width: 1120px;
	min-height: 123px;
	box-shadow: 0px 0px 13px 0px rgba(11, 12, 12, 0.15);
    width: 1120px;
    height: 123px;
	background: #f8f8f8;
	margin: 0 auto 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav {
	max-width: 534px;
	min-height: 14px;

}
nav a, .menuRecipes {
	text-decoration: none;
	padding: 0 20px;
	font-family: 'Josefin Sans';
	color:#000000;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	text-align: left;
}   
nav input {
	display: none;
}
.menuToggle, .menu-recipes  {
	display: none;
}   
.menu-big {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}
form input {
	background-color: #f8f8f8;
	border: none;
	font-family: 'Josefin Sans';
	color:#000000;
	font-size: 12px;
	font-weight: 300;
	text-align: left;
	
}
form input:first-child {
	background: url("../img/Icon/Search Icon.png") no-repeat;
}
form {
	width: 162px;
	height: 28px;
	border: 1px solid #c2c2c2;
}
/*HERO PAGE*/
.Hero_Page {
	max-width: 1120px;
	min-height: 438px;
	background-color: #f8f8f8;
	box-shadow: 0px 0px 13px 0px rgba(11, 12, 12, 0.15);
    width: 1120px;
    height: 123px;
	background: url(../img/pexels-photo-104987.jpg) no-repeat #f8f8f8 100%;
	-webkit-background-size: contain;
	background-size: contain;
	margin: 0 auto 85px;
}
.Hero_Page .content {
	margin-left: calc(100%/12 + 15px);
	height: 100%;
	padding-top: 49px;
}
.Hero_Page .content .logo_hero {
	margin-bottom: 45px;
}
.Hero_Page .content .recipe h2 {
	font-family: 'Playfair Display';  
	color: #921026;
	font-size: 24px;
	font-weight: 400;
	text-align: left;
	font-style: normal;
	margin-bottom: 28px;
}
.Hero_Page .content .recipe p {
	display: block;
	width: 312px;
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 36px;
}
.Hero_Page .content form {
	width: 105px;
	height: 28px;
	border: 1px solid #c2c2c2;
}
.Hero_Page .content form button {
	background-color: #f8f8f8;
	border: none;
	font-family: 'Josefin Sans';
	color:#000000;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
}
/* SIDE BAR */
body .side_bar {
	max-width: 1120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	word-wrap: wrap;
	align-items: center;
	margin: 0 auto 40px;
}
/* recipe blog */
body .side_bar .recipe_blog {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
	width: 289px;
	height: 349px;
	background: url("../img/recipe_blog.jpg") no-repeat #fff 0 100%;
	-webkit-background-size: contain;
	background-size: contain;
	padding: 27px 21px 0 16px;
}
body .side_bar .recipe_blog h3 {
	width: 100%;
	height: 34px;
	font-family: 'Playfair Display';  
	color: #055555;
	font-size: 22px;
	font-weight: 900;
	text-align: center;
	border-bottom: 2px solid #dddddd;
}
body .side_bar .recipe_blog .info_wrap {
	width: 100%;
	height: 90px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
body .side_bar .recipe_blog .info_wrap > img {
	width: 57px;
	height: 57px;
	border-radius: 50%;
}
body .side_bar .recipe_blog .info_wrap .info p {
    font-family: 'Josefin Sans';
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
}
body .side_bar .recipe_blog .info_wrap .info p span {
    font-family: 'Josefin Sans';
	color: #000000;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
}
body .side_bar .recipe_blog .info_wrap .info .icon {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	margin-top: 5px;
}
body .side_bar .recipe_blog .info_wrap .info .icon > p, img {
	font-family: 'Open Sans';
	color: #555555;
	font-size: 12px;
	font-weight: 300;
	margin-right: 5px;
}
body .side_bar .recipe_blog .info_wrap .info .icon .time {
	background: url(../img/Icon/Clock_Icon.png) no-repeat center left;
	padding-left: 14px;
}
body .side_bar .recipe_blog .info_wrap .info .icon .comment {
	background: url(../img/Icon/Comment_Icon.png) no-repeat center left;
	padding-left: 14px;
}
body .side_bar .recipe_blog .info_wrap .info .icon .view {
	background: url(../img/Icon/View_Icon.png) no-repeat center left;
	padding-left: 14px;
}
/* author */ 
body .side_bar .author_wrap {
	background-color: #ffffff;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
	width: 518px;
	height: 519px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 42px 0 33px;
}
body .side_bar .author_wrap .author_title {
	width: 100%;
	height: 28px;
	border-bottom: 2px solid #dddddd;
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 20px;
	font-weight: 400;
	text-align: left;
	padding-left: 10px;
	margin-bottom: 22px;
}
body .side_bar .author_wrap .author_info_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
body .side_bar .author_wrap .author_info_wrap > img {
	width: 128px;
	height: 128px;
	border-radius: 50%;
}
body .side_bar .author_wrap .author_info_wrap .author_info {
	width: 291px;
	height: 450px;
}
body .side_bar .author_wrap .author_info_wrap .author_info .author_header {
	width: 100%;
	height: 105px;
	box-sizing: border-box;
	padding-top: 14px;
	border-bottom: 2px solid #dddddd;
}
body .side_bar .author_wrap .author_info_wrap .author_info .author_header .name {
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 6px;
}
body .side_bar .author_wrap .author_info_wrap .author_info .author_header .usa {
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 12px;
}
body .side_bar .author_wrap .author_info_wrap .author_info .author_header .social {
	width: 99px;
	margin-bottom: 18px;
}
body .side_bar .author_wrap .author_info_wrap .author_info .author_header .social a {
	margin-right: 3px;
}
body .side_bar .author_wrap .author_info_wrap .author_info .author_description_wrap {
	width: 100%;
	margin-top: 25px;
}
body .side_bar .author_wrap .author_info_wrap .author_info .author_description_wrap > h4 {
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 20px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 32px;
}
body .side_bar .author_wrap .author_info_wrap .author_info .author_description_wrap > p {
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	text-align: left;
	margin-bottom: 22px;
}
body .side_bar .author_wrap .author_info_wrap .author_info .author_description_wrap > img {
	width: 163px;
	height: 63px;
	margin-left: calc(100% - 163px);
}
/* popular */
body .side_bar .popular_now {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
	width: 289px;
	height: 349px;
	background: url("../img/Photo_Coffee.png") no-repeat #fff 0 100%;
	-webkit-background-size: contain;
	background-size: contain;
	padding: 27px 21px 0 16px;
}
body .side_bar .popular_now h3 {
	font-family: 'Playfair Display';
	color: #921026;
	font-size: 32px;
	font-weight: 900;
	text-align: left;
	margin-bottom: 35px;
}
body .side_bar .popular_now .popular_title {
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 22px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 15px;
}
body .side_bar .popular_now .popular_recipe {
	font-family: 'Josefin Sans';
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 18px;
}
body .side_bar .popular_now .popular_icon {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
body .side_bar .popular_now .popular_icon form {
	width: 105px;
	height: 28px;
}
body .side_bar .popular_now .popular_icon form button {
	width: 105px;
	height: 28px;
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	border: none;
	background-color: #f8f8f8;
}
body .side_bar .popular_now .popular_icon .icon {
	width: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Open Sans';
	color: #555555;
	font-size: 12px;
	font-weight: 300;
	text-align: left;
}
body .side_bar .popular_now .popular_icon .icon .time {
	background: url(../img/Icon/Clock_Icon.png) no-repeat center left;
	padding-left: 12px;
}
body .side_bar .popular_now .popular_icon .icon .comment {
	background: url(../img/Icon/Comment_Icon.png) no-repeat center left;
	padding-left: 14px;
}
body .side_bar .popular_now .popular_icon .icon .view {
	background: url(../img/Icon/View_Icon.png) no-repeat center left;
	padding-left: 14px;
}
/* RECIPES FOTOS */
body .recipees {
	width: 1120px;
	height: 373px;
	background-color: #fff;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin-bottom: 87px;
}
body .recipees figure {
/*	width: 313px;    */
}
body .recipees figure a .foto {
	width: 208px;
	height: 313px;
	transform: rotate(-90deg);
	margin: 0 30px;
}
body .recipees figure figcaption {
	margin-top: -30px;
	text-align: center;
}
body .recipees figure figcaption h4 {
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 18px;
	font-weight: 300;
}
body .recipees figure figcaption .icon {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: 140px;
	margin: 10px auto;
	font-family: 'Open Sans';
	color: #555555;
	font-size: 12px;
	font-weight: 300;
}
body .recipees figure figcaption .icon .time {
	background: url(../img/Icon/Clock_Icon.png) no-repeat center left;
	padding-left: 14px;
}
body .recipees figure figcaption .icon .comment {
	background: url(../img/Icon/Comment_Icon.png) no-repeat center left;
	padding-left: 14px;
}
body .recipees figure figcaption .icon .view {
	background: url(../img/Icon/View_Icon.png) no-repeat center left;
	padding-left: 14px;
}
/* FOOTER */
body footer {
	position: relative;
	width: 1120px;
	height: 180px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 3px 7px 0px rgba(11, 12, 12, 0.14);
	
}
body footer .bot_menu {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1120px;
	height: 40px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Josefin Sans';
	color: rgba(254, 254, 254, 0.5);
	font-size: 12px;
	font-weight: 300;
}
body footer .bot_menu .menu_footer a, .menuRecipes1 {
	font-family: 'Josefin Sans';
	color: rgba(254, 254, 254, 0.5);
	font-size: 12px;
	font-weight: 300;
}
body footer .social {
	position: absolute;
	right: 53px;
	bottom: 55px;
}


