@import url(reset.css);
@import url(fonts.css);

h1 {
  font-family: "PlayfairDisplay-Black";
  font-size: 45px;
  margin: 50px auto;
  text-align: center;
  text-decoration: underline;
}
.recipees {
  justify-content: space-around;
}
.recipees figure {
  position: relative;
  width: auto;
}
iframe {
  width: 355px;
  height: 200px;
}
@media (max-width: 576px) {
  video {
    height: 175px;
  }
}
